@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu+Mono&display=swap');

hr{border-width: 2px;
    border-color: #b2bec3;
}
a{color: #333;}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
a:hover{color: #000;}
.container-main{
    max-width: 1200px;
    text-align: center;
    margin-top: 3%;
    font-family: 'Ubuntu Mono', monospace;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container-sub{padding: 3%;
}
.container-sub img{height: 120px;
    width: 120px;
    border-radius: 60px;
}
.summary{
    font-size: 17px;
}
.container-posts{
    padding: 3%;
    text-align: left;
    border-left-style: solid;
    border-color: #b2bec3;
}
.container-posts li{list-style: none;
    margin-top: 5%;
    border-bottom-style: solid;
    border-color: #b2bec3;
    padding: 1%;
}
.container-posts a{font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    font-style: italic;
}
.container-posts a:hover{text-decoration: underline;}

.products h4{margin-bottom: 3%;}
.product{
    padding:3%;
    text-align: center;
}
.product h5 a{text-decoration: none;}
.product h5 a:hover{text-decoration: underline;}
.product img{height: 100px;
    width: 100px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@keyframes blink {
    from { opacity: 1 }
    to { opacity: 0 }
}
.main-icons{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.content-text{
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
}
.content-icons{
    padding: 1% 5%;
    text-align: center;
}

.content-icons li{display: inline-flex;
    margin: auto 4%;
}
.icon a{font-size: 22px;
    text-decoration: none;
    color: #2c3e50;
    text-align: center;
}
.icon a:hover{text-decoration: underline;}

.fa-twitter{color:  #1da1f2;}
.fa-linkedin{color:#0a66c2;}
.fa-medium{color:  #00ab6c;}

.cta{margin-bottom: 5%;
    font-size: 18px;
}
.cta input{width: 100%;
}
.cta button{width: 100%;}

#course-btn{
    margin-top: 3%;
}
#course-btn img{height: 25px;
width: 25px;}
@media screen and (max-width: 600px)  {
    .cta button{margin-top: 5%;}
}
.content-icons a:hover{text-decoration: none;}
a:hover .fa-beat-hover {
    -webkit-animation: fa-beat 1s infinite linear;
    -moz-animation: fa-beat 1s infinite linear;
    -o-animation: fa-beat 1s infinite linear;
    animation: fa-beat 1s infinite linear;
  }

  button:hover .fa-bounce-hover,a:hover .fa-bounce-hover {
    -webkit-animation: fa-bounce 1s infinite linear;
    -moz-animation: fa-bounce 1s infinite linear;
    -o-animation: fa-bounce 1s infinite linear;
    animation: fa-bounce 1s infinite linear;
  }

  a:hover .fa-flip-hover {
    -webkit-animation: fa-flip 2s infinite both;
    -moz-animation: fa-flip 2s infinite both;
    -o-animation: fa-flip 2s infinite both;
    animation: fa-flip 2s infinite both;
  }